.create-review-page-main {
    margin-top: 30px;
    margin-bottom: 100px;
}

.create-review-page-container {
    margin: 0 auto;
    max-width: 550px;
}

.create-review-page-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:20px;
}

.create-review-page-form textarea {
    width: 100%;
    padding: 40px 10px 10px 10px;
    
}

.create-review-page-rating-wrapper {
    position: absolute;
    z-index: 20;
}

.create-review-page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.create-review-page-form label {
    position: relative;
    top: 5px;
    left: 5px;
    font-size: 24px;
 
}

.create-review-page-review-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.create-review-page-image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.create-review-page-image-wrapper h2{
font-size: 24px;
font-weight: bold;
}

.create-review-page-image-wrapper img {
    width: 400px;
    height: 400px;
}

.create-review-page-form input {
    width: 100%;
}