.spot-image-wrapper {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;

}

.spot-title {
    font-size: 24px;
    font-weight: bold;
}

.spot-text-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.spot-form {
    max-width: 500px;
    margin: 30px 0;
  
}

.input-wrapper {
    display: flex;
    gap:10px;
    flex-direction: column;

}

.input-wrapper input {
    width: 100%;
    cursor: pointer;
}

.spot-error {
    color:rgb(227, 27, 27);
    position: absolute;
    bottom: 0;
    left: 0;
}

.spot-form-container {
    margin-bottom: 30px;
    position: relative;
    display: flex;
    gap: 30px;

}