.update-spot-page-container {
   
    max-width: 450px;
    margin: 50px auto 100px auto;
    
}

.update-spot-page-container h2 {
   font-size: 28px;
   margin-bottom: 10px;
   font-weight: bold;

}

.update-spot-page-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.update-spot-page-form input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
}

.update-spot-page-form span{
    display: flex;
    flex-direction: column;
}

.edit-spot-page-buttons {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    
}

.edit-spot-page-buttons button {
    max-width: 200px;
    width: 100%;
}

/* .update-spot-page-container {
    margin-top: 20px;
    max-width: 500px;
    margin: 0 auto;
    
  
} */

.update-spot-page-form {
    display: flex;
    flex-direction: column;
    gap:15px;
}

.update-spot-page-label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    padding-bottom: 20px;
}

.update-spot-page-title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.update-spot-page-long-lat {
    display: flex;
    justify-content: space-between;
    gap:20px;
    width: 100%;

}

.update-spot-page-long-lat label {
    max-width: 200px;
    width: 100%;
}

.update-spot-page-label > input {
    width: 100%;
    padding: 5px;
}

.update-spot-page-main {
    padding-bottom: 100px;
}

.update-spot-page-error {
    color: rgb(225, 64, 6);
    position: absolute;
    bottom: 0;
    left: 0;
}
