.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    
    padding: 15px;
    gap: 20px;
}

.signup-form {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.signup-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-input-wrapper> input{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}

.signup-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.signup-label {
    position: relative;
   
}

.signup-icon {
    position: absolute;
    font-size: 30px;
    right: 3%;
    bottom: 15%;
}

.signup-input {
    display: block;
    padding: 15px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}


